@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root{
    --darkcyan: #34B0BE;
    --whitetype: #D1CECA;
    --dark: #242635;
    --white: #FFFFFF;
    --black: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--white)
}

body{
    background-color: var(--black);
}

.header{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem;
    height: 50px;

    position: fixed;
    width: 100%;
    left: 0;
    top: 0;

    background-color: var(--black);
    z-index: 3;
}

.menu{
    display: flex;
    gap: 1.5rem;
}

.icon_menu{
    display: none;
    cursor: pointer;
}

@media (max-width: 700px) {
    .icon_menu{
        display: block;
    }
    .menu {
        position: fixed;
        top: 50px;
        left: 0;
        width: 50%;
        height: 100vh;

        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--dark);
        transform: translateX(-100%);

        transition: transform 0.5s;
    }

    .menu_show {
        transform: translateX(0);
    }
}

.header-information{
    padding: 2rem 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0 0;
    gap: 1rem;
}

.contenedor_photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    max-width: 15.5rem;
    height: 15.5rem;
    background-color: var(--dark);
    border-radius: 50%;
}

.photo div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.imagen_personal{
    width: 80%;
    height: 100%;
    border-radius: 50%;
}

.personal-information{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.contenedor_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

.caja1{
    padding-bottom: 5px;
    border-bottom: #FFFFFF solid 0.1rem;
    width: 75%;
}

.soy{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 100;
}

.nombre{
    font-size: 40px;
    color: var(--darkcyan);
    font-weight: 900;
}

.ocupacion{
    font-weight: 200;
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
}

.experience{
    font-weight: 505;
    font-size: 0.9rem;
    padding: 0 0 0.3rem 0;
}

.experience-time{
    color: var(--darkcyan);
}

.redes{
    display: flex;
    gap: 2rem;
}

.hijos-redes{
    background-color: var(--whitetype);
    width: 25px;
    height: 25px;
    border-radius: 50%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.redes img{
    height: 13px;
    width: 100%;
}

.work{
    margin: 1rem 0 0;
    display: flex;
    width: 85%;
    height: 55px;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    background-color: var(--dark);
}

.work .hijo-work{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 70%;
    background-color: var(--whitetype);
    margin: 0 3%;
    border-radius: 0.5rem;
}

.hijo-work img{
    width: 50%;
    height: 90%;
}

.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.title_section{
    color: var(--darkcyan);
    font-size: 30px;
}

.parrafo{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    font-size: 13px;
    font-weight: 0;
}

.parrafo p{
    color: var(--whitetype);
}

.services{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-bottom: 4rem;
}

.contenedor_2{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 95%;
    max-width: 950px;
    align-items: center;
    padding: 2rem;
}

@media (max-width: 1200px){
    .contenedor_2{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
        object-fit: cover;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        overflow-y: hidden;
        align-items: center;
        padding: 2rem;
        position: sticky;
        align-self: center;
    }
}

@media (min-width: 1200px){
.contenedor_2{
    justify-content: center;
}
}

.design{
    width: 60%;
    min-width: 220px;
    max-width: 280px;
    height: 316px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: white;
    border-radius: 0.2rem;
}

.design div{
    height: 100%;
    width: 100%;
}

.imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100%;
    width: 100%;
}

.imagen-uno{
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.imagen-dos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
}
.vector1{
    padding: 0;
    justify-self: start;
    width: 100%;
    height: 100%;
}

.lapiz1{
    width: 5.5rem;
    position: absolute;
    height: 25%;
    max-height: 500px;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
}

.design-title{
    color: #000;
}

.design-text{
    color: var(--whitetype);
}

.habilities{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.contenedor_3{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 85%;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.porcent{
    display: flex;
    font-size: 0.7rem;
    align-items: flex-end;
    color: var(--darkcyan);
}

.habilidad{
    font-size: 1rem;
}

.progreso{
    height: 10px;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.progreso div{
    height: 100%;
    background-color: var(--darkcyan);
    border-radius: 1rem;
}

.progress{
    width: 70%;
}

.progress1{
    width: 75%;
}

.progress2{
    width: 30%;
}

.progress3{
    width: 40%;
}

.progress4{
    width: 50%;
}

.progress5{
    width: 95%;
}

.portfolio{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    align-items: center;
    margin-bottom: 4rem;
}

.portfolio img{
    width: 280px;
}

.contenedor_4{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 95%;
    object-fit: cover;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
    align-self: flex-end;
    padding-bottom: 2rem;
    padding-right: 1rem;
    position: sticky;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    width: 100%;
}

.contenedor_5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
}

.contenedor_5-contenedor{
    width: 70%;
    min-width: 180px;
    max-width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: white;
    border-radius: 0.2rem;
}

.contacto_imagen-imagen-uno{
    width: auto;
}

.icono-contacto{
    width: 5rem;
    position: absolute;
    height: 13%;
}

.contacto_imagen-imagen-dos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
}

.contenedor_5-design-title{
    color: var(--black);
    font-size: 20px;
}

footer{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

footer div{
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: center;
}

footer div p{
    color: var(--darkcyan);
    font-size: 20px;
    align-items: flex-start;
    
}
footer div p img{
    display: inline;
    width: 20px;
    height: 20px;
}

@media (min-width: 700px) {
    .header-information{
        margin-top: 3rem;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 2rem;
        gap: 0;
        align-self: center;
    }

    .contenedor_photo{
        width: 70%;
        display: flex;
        height: 350px;
        align-items: flex-start;
        justify-content: start;
        
    }

    .photo{
        width: 350px;
        height: 350px;
        max-width: 400px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .personal-information{
        width: 25%;
    }

    .contenedor_1{
        padding: 0;
        margin: 0;
    }

    .caja1{
        border-bottom: none;
        align-self: flex-start;
    }

    .soy{
        align-items: flex-start;
    }
    .nombre{
        border-top: var(--white) solid;
    }

    .ocupacion{
        margin-bottom: 1rem;
    }

    .experience{
        margin-bottom: 1rem;
    }

    .redes{
        gap: 0.5rem;
    }

    .hijos-redes{
        width: 35px;
        height: 35px;
    }

    .redes img{
        height: 20px;
        width: 100%;
    }

    .work{
        justify-self: center;
        align-self: center;
        width: 85%;
        max-width: 900px;
        height: 85px;
        border-radius: 3px;
        padding: 0;
        margin: 0;
        gap: 2rem;
    }

    .work .hijo-work{
        width: 15%;
        height: 70%;
        
    }

    .parrafo{
        width: 80%;
        max-width: 950px;
    }

    .contenedor_3{
        width: 85%;
        max-width: 950px;
    }

    .contenedor_4{
        max-width: 1200px;
        align-self: center;
    }

    .portfolio img{
        width: 400px;
    }

    .contenedor_5{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 3.5rem;
        width: 70%;
        max-width: 580px;
    }

    .contenedor_5-contenedor{
        width: 200px;
        height: 220px;
    }

}

@media (min-width: 950px) {
    .contenedor_photo{
        width: 50%;
    }

    .contenedor_1{
        width: 50%;
        align-self: flex-end;
        justify-self: flex-end;
    }
    
}